<% include partials/header %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Materials</a></li>
    <li class="breadcrumb-item"><a href="index.html">Notes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Download</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <img src="https://images.pexels.com/photos/51342/books-education-school-literature-51342.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="rounded mx-auto d-block img-thumbnail" alt="...">
          </div>
          <div class="col-sm-4">
            <img src="https://images.pexels.com/photos/51342/books-education-school-literature-51342.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="rounded mx-auto d-block img-thumbnail" alt="...">
          </div>
          <div class="col-sm-4">
            <img src="https://images.pexels.com/photos/51342/books-education-school-literature-51342.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="rounded mx-auto d-block img-thumbnail" alt="...">
          </div>
        </div>
      </div>
      <div class="container mt-4 mb-3 text-center">
          <button class="btn btn-success">Purchase</button>
          <button class="btn btn-outline-info" id="testing" onclick="func()">Download Pdf</button>
          <button class="btn btn-danger" disabled="disable">Share</button>
      </div>
    </div>
    <div class="col-sm-2 rounded">
		<div class="container jumbotron ">
      <p><b>DATED-</b><%=resultPost.created.toDateString()%></p>
      <p><b>SUBJECT-</b><%=resultPost.subject%></p>
      <p><b>TITLE-</b><%=resultPost.title%></p>
      <p><b>CODE-</b><%=resultPost.code%></p>
      	</div>
    </div>
  </div>
</div>
<div class="jumbotron">
  	<div class="container bg-light rounded py-4">
  	    <%comments.forEach(function(comment){%>
  	        <p><b><%=currentUser.username%></b><%=comment.text%></p>
  	    <%}) %> 
  	</div>
  	<div class="container bg-light rounded py-4">
  		<div class="row">
  			<div class="col-sm-4 mt-2 text-center">
  				Store Name
  			</div>
  			<div class="col-sm-2 mt-2">
  			</div>
  			<div class="col-sm-3 mt-2 text-center">
  				<select class="btn btn-info">
  					<option>No. of copies</option>
  					<option>1</option>
  					<option>2</option>
  					<option>3</option>
  					<option>4</option>
  					<option>5</option>
  				</select>
  			</div>
  			<div class="col-sm-2 mt-2 btn btn-info">
  				Purchase
  			</div>
  		</div>
  	</div>
</div>
<% include partials/footer %>